<a href="https://colab.research.google.com/github/Elilora/Hamoye_Stage_B_Quiz/blob/main/Hamoye_Stage_B__Quiz.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Importing Necessary Libaries

In [39]:
import pandas as pd
import numpy as np
from google.colab import drive
from sklearn.preprocessing import MinMaxScaler 
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression, Ridge, Lasso, ElasticNet
from sklearn.metrics import mean_squared_error,r2_score,mean_absolute_error, accuracy_score

Mounting Drive

In [40]:
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

Uploading data

In [41]:
Energy_data= pd.read_csv("/content/drive/MyDrive/energydata_complete.csv")
Energy_data.head()

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

QUESTION 12

In [42]:
#predictor
X1=pd.DataFrame(Energy_data["T2"])

#response variable
Y1=pd.DataFrame(Energy_data["T6"])

#spliting data
X1_train, X1_test,Y1_train,Y1_test=train_test_split(X1,Y1, test_size=0.3, random_state=42)

#Model Building
model=LinearRegression()

model.fit(X1_train, Y1_train)

Ypredicted1=model.predict(X1_test)

# Rsquared value
Rsquared1=r2_score(Y1_test,Ypredicted1)
print(round(Rsquared1,2))

0.64

QUESTION 13

In [43]:
#drop time column
Energy_data.drop(columns=["date"], inplace= True)

#Defining Column Names
col_names=["Appliances","lights","T1","RH_1","T2","RH_2","T3","RH_3","T4",
"RH_4","T5","RH_5","T6","RH_6","T7","RH_7","T8","RH_8","T9","RH_9","T_out",
"Press_mm_hg","RH_out","Windspeed","Visibility","Tdewpoint","rv1","rv2"]

#Normalize data
Scaler= MinMaxScaler()
data= Scaler.fit_transform(Energy_data)
appliance_energy_data= pd.DataFrame(data, columns=col_names)


appliance_energy_data

,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,0.046729,0.428571,0.327350,0.566187,0.225345,0.684038,0.215188,0.746066,0.351351,0.764262,...,0.223032,0.677290,0.372990,0.097674,0.894737,0.500000,0.953846,0.538462,0.265449,0.265449
1,0.046729,0.428571,0.327350,0.541326,0.225345,0.682140,0.215188,0.748871,0.351351,0.782437,...,0.226500,0.678532,0.369239,0.100000,0.894737,0.476190,0.894872,0.533937,0.372083,0.372083
2,0.037383,0.428571,0.327350,0.530502,0.225345,0.679445,0.215188,0.755569,0.344745,0.778062,...,0.219563,0.676049,0.365488,0.102326,0.894737,0.452381,0.835897,0.529412,0.572848,0.572848
3,0.037383,0.571429,0.327350,0.524080,0.225345,0.678414,0.215188,0.758685,0.341441,0.770949,...,0.219563,0.671909,0.361736,0.104651,0.894737,0.428571,0.776923,0.524887,0.908261,0.908261
4,0.046729,0.571429,0.327350,0.531419,0.225345,0.676727,0.215188,0.758685,0.341441,0.762697,...,0.219563,0.671909,0.357985,0.106977,0.894737,0.404762,0.717949,0.520362,0.201611,0.201611
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19730,0.084112,0.000000,0.926786,0.537657,0.711655,0.606309,0.830841,0.579374,0.864865,0.765258,...,0.864724,0.729443,0.891747,0.602326,0.416667,0.238095,0.348718,0.901961,0.861981,0.861981
19731,0.074766,0.000000,0.919747,0.536006,0.701769,0.607836,0.825302,0.582178,0.864865,0.765258,...,0.864724,0.729443,0.887460,0.602326,0.421053,0.250000,0.361538,0.900452,0.985726,0.985726
19732,0.242991,0.142857,0.919747,0.538666,0.692651,0.627198,0.818378,0.603988,0.864865,0.771233,...,0.864724,0.729443,0.883173,0.602326,0.425439,0.261905,0.374359,0.898944,0.583979,0.583979
19733,0.383178,0.142857,0.919747,0.549491,0.677054,0.634717,0.805085,0.585294,0.864865,0.773794,...,0.864724,0.730581,0.878885,0.602326,0.429825,0.273810,0.387179,0.897436,0.126371,0.126371
19734,0.392523,0.142857,0.919747,0.538758,0.666171,0.632902,0.799546,0.579062,0.864865,0.781192,...,0.864724,0.731719,0.874598,0.602326,0.434211,0.285714,0.400000,0.895928,0.682391,0.682391

In [44]:
#predictors
X=appliance_energy_data.drop(columns=["Appliances","lights"])

#Response Variable
Y=appliance_energy_data["Appliances"]

#split data
X_train, X_test,Y_train,Y_test=train_test_split(X,Y, test_size=0.3, random_state=42)

#model Building
Linear_model=LinearRegression()

Linear_model.fit(X_train, Y_train)

Linear_model_predicted_values=Linear_model.predict(X_test)

#Mean Absolute Error Metric
Linear_MAE=mean_absolute_error(Y_test,Linear_model_predicted_values)
print(round(Linear_MAE,2))

0.05

QUESTION 14

In [45]:
# Rsidual sum of squares
Linear_RSS=np.sum(np.square(Y_test-Linear_model_predicted_values))
print(round(Linear_RSS,2))

45.35

QUESTION 15

In [46]:
Linear_MSE=mean_squared_error(Y_test,Linear_model_predicted_values)
Linear_RMSE=np.sqrt(Linear_MSE)
print(round(Linear_RMSE,3))

0.088

QUSTION 16

In [47]:
coefficient_determination=r2_score(Y_test,Linear_model_predicted_values)
print(round(coefficient_determination,2))

0.15

QUSTION 17

In [48]:
# Linear model Coefficient
Linear_coefficient=Linear_model.coef_
print(Linear_coefficient)

[-0.00328105  0.5535466  -0.23617792 -0.45669795  0.29062714  0.09604827
  0.028981    0.02638578 -0.01565684  0.01600579  0.23642491  0.03804865
  0.01031878 -0.04461364  0.10199505 -0.15759548 -0.18994077 -0.03980032
 -0.32185967  0.00683933 -0.07767065  0.02918313  0.01230661  0.11775773
  0.0007701   0.0007701 ]

In [49]:
def feature_weights(Coefficient, Features, column_name):
   weights= pd.Series(Coefficient, Features.columns).sort_values()
   weights_df=pd.DataFrame(weights).reset_index()
   weights_df.columns=["Features",column_name]
   weights_df[column_name].round(3)
   return weights_df


linear_model_weights=feature_weights(Linear_coefficient,X_train, "Linear_model_weights")
print(linear_model_weights)

       Features  Linear_model_weights
0          RH_2             -0.456698
1         T_out             -0.321860
2            T2             -0.236178
3            T9             -0.189941
4          RH_8             -0.157595
5        RH_out             -0.077671
6          RH_7             -0.044614
7          RH_9             -0.039800
8            T5             -0.015657
9            T1             -0.003281
10          rv1              0.000770
11          rv2              0.000770
12  Press_mm_hg              0.006839
13           T7              0.010319
14   Visibility              0.012307
15         RH_5              0.016006
16         RH_4              0.026386
17           T4              0.028981
18    Windspeed              0.029183
19         RH_6              0.038049
20         RH_3              0.096048
21           T8              0.101995
22    Tdewpoint              0.117758
23           T6              0.236425
24           T3              0.290627
25         RH_1              0.553547

QUESTION 18

In [50]:
# Building Ridge Model
Ridge_model=Ridge(alpha=0.4)

#fitting model
Ridge_model.fit(X_train, Y_train)

#predicting model
Ypredicted=Ridge_model.predict(X_test)

#evaluating model
Ridge_Model_MSE=mean_squared_error(Y_test,Ypredicted)
Ridge_Model_RMSE=np.sqrt(Ridge_Model_MSE)
print(round(Ridge_Model_RMSE,3))

0.088

QUESTION 19

In [51]:
Lasso_model=Lasso(alpha=0.001)
Lasso_model.fit(X_train, Y_train)
Ypredicted=Lasso_model.predict(X_test)

In [52]:
Lasso_coefficient=Lasso_model.coef_
print(Lasso_coefficient)

[ 0.          0.01787993  0.         -0.          0.          0.
 -0.          0.         -0.          0.          0.         -0.
 -0.         -0.          0.         -0.00011004 -0.         -0.
  0.         -0.         -0.04955749  0.00291176  0.          0.
 -0.         -0.        ]

In [53]:
def feature_weights(Coefficient, Features, column_name):
   weights= pd.Series(Coefficient, Features.columns).sort_values()
   weights_df=pd.DataFrame(weights).reset_index()
   weights_df.columns=["Features",column_name]
   weights_df[column_name].round(3)
   return weights_df


Lasso_model_weights=feature_weights(Lasso_coefficient,X_train, "Lasso_model_weights")
print(Lasso_model_weights)

       Features  Lasso_model_weights
0        RH_out            -0.049557
1          RH_8            -0.000110
2            T1             0.000000
3     Tdewpoint             0.000000
4    Visibility             0.000000
5   Press_mm_hg            -0.000000
6         T_out             0.000000
7          RH_9            -0.000000
8            T9            -0.000000
9            T8             0.000000
10         RH_7            -0.000000
11          rv1            -0.000000
12           T7            -0.000000
13           T6             0.000000
14         RH_5             0.000000
15           T5            -0.000000
16         RH_4             0.000000
17           T4            -0.000000
18         RH_3             0.000000
19           T3             0.000000
20         RH_2            -0.000000
21           T2             0.000000
22         RH_6            -0.000000
23          rv2            -0.000000
24    Windspeed             0.002912
25         RH_1             0.017880

QUESTION 20

In [54]:
Lasso_Model_MSE=mean_squared_error(Y_test,Ypredicted)
Lasso_Model_RMSE=np.sqrt(Lasso_Model_MSE)
print(round(Lasso_Model_RMSE,3))

0.094